{% extends '::dashboard/base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/admin/pages/css/search.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/global/plugins/bootstrap-toastr/toastr.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/global/plugins/select2/select2.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/admin/pages/css/profile.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block breadcrumb %} 
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{path('app_dashboard_index')}}">Tableau de bord</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{path(app.request.get('_route'))}}">{{title}}</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
    
    <div class="row">
        {{ form_start(search_form,{'attr':{'class':'form-horizontal'}}) }}
            <div class="col-md-3">
                {{form_row(search_form.first_name)}}
            </div>
            <div class="col-md-3">
                {{form_row(search_form.last_name)}}
            </div>
            <div class="col-md-3">
                {{form_row(search_form.email)}}
            </div>
            <div class="col-md-3">
                {{form_row(search_form.roles)}}
            </div>
            <div class="col-md-12 text-right">
                 {{ form_row(search_form.submit, { 'label': 'Chercher','attr':{'class':'btn green'}}) }}
                 <a href="{{path('app_user_index')}}" class="btn red ">Réinitialiser</a>
            </div>
        {{form_end(search_form)}}
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tr>
                    <th>Nom et prenom</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                {% for user in entities %}
                    <tr>
                        <td>
                            {{user}}
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            {{user.roles[:-1]|join(' | ')}}
                        </td>
                        <td class="util-btn-margin-bottom-5">
                            <a class="btn btn-default" href="{{path('app_user_edit',{'id':user.id})}}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <div id="ajax-modal" class="modal fade" data-backdrop="static" tabindex="-1" style="display: none;"></div>
  
{% endblock %}

{% block javascripts %}

    {{parent()}}
    
    <script src="{{asset('assets/global/plugins/bootstrap-toastr/toastr.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/global/plugins/select2/select2.min.js')}}" type="text/javascript"></script>
     <script src="{{asset('assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/global/plugins/bootstrap-summernote/summernote.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js')}}" type="text/javascript"></script>


    <script type="text/javascript">

        $(function(){

        $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
          '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
              '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
          '</div>';

        $.fn.modalmanager.defaults.resize = true;


        });
    </script>


    <script type="text/javascript">
        
        $(document).ready(function(){

            $modal = $('#ajax-modal');

            $('.ajax-modal').on('click', function(){
              // create the backdrop and wait for next modal to be triggered
                $('body').modalmanager('loading');
                url = $(this).attr('data-url') ;


                setTimeout(function(){
                    $modal.load(url, '', function(){
                    $modal.modal();
                });
                }, 1000);
            });


            $('#search_form_specialties').select2({
                placeholder: "Specialités",
                allowClear: true
            });
            
            $(".ajax-action").click(function(e){
                e.preventDefault() ;
                $.ajax({
                    url: $(this).attr('data-url'),
                    dataType: "json",
                    beforeSend : function()
                    {
                        // $modal.block({ message: null }); 
                    }
                }).done(function( data ) {
                    
                    toastr.success(data.message) ;
                    setTimeout(function(){ location.reload(); }, 1500);
                }).fail(function(data) {
                    toastr.warning(data.message) ;
                    
                }) ;
            })
        });

    </script>    

{% endblock %}