<tr>
    <td>{{ form_widget(form.examens.vars.prototype.date)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.hb)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.ht)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.plq)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.gie)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.uree)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.creat)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.naplus)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.kplus)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.tp)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.tca)|e }}</td>
    <td>{{ form_widget(form.examens.vars.prototype.gs)|e }}</td>
    <td class="actions"></td>
</tr>
