{% extends '::dashboard/base.html.twig' %}

{% block body -%}
    <h1>Liste des patients</h1>
    <div class="row">
        {{ form_start(search_form,{'attr':{'class':'form-horizontal'}}) }}
        <div class="col-md-3">
            {{form_row(search_form.nom)}}
        </div>
        <div class="col-md-3">
            {{form_row(search_form.prenom)}}
        </div>
        <div class="col-md-3">
            {{form_row(search_form.age)}}
        </div>
        <div class="col-md-3">
            {{form_row(search_form.num_dossier)}}
        </div>
        <div class="col-md-12 text-right">
            {{ form_row(search_form.submit, { 'label': 'Chercher','attr':{'class':'btn green'}}) }}
            <a href="{{path('app_patient_index')}}" class="btn red ">Réinitialiser</a>
        </div>
        {{form_end(search_form)}}
    </div>
    <hr>
     <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Age</th>
                    <th>Num_dossier</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('app_patient_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nom }}</td>
                        <td>{{ entity.prenom }}</td>
                        <td>{{ entity.age }}</td>
                        <td>{{ entity.numdossier }}</td>
                        <td>
                            <a class="glyphicon glyphicon-eye-open btn" href="{{ path('app_patient_show', { 'id': entity.id }) }}">Afficher</a>
                            <a class="glyphicon glyphicon-pencil btn" href="{{ path('app_patient_edit', { 'id': entity.id }) }}">Modifier</a>
                            <a class="glyphicon glyphicon-remove btn" href="{{ path('app_patient_delete', { 'id': entity.id }) }}">Supprimer</a>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
